.about-biysk {
  &__wrapper {
    height: 690px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 160px;
    @include laptop-l {
      height: fit-content;
      padding-top: 30px;
    }
  }
  &__header {
    color: $color-text2;
    font-family: Formular;
    font-size: 6.4rem;
    font-weight: 700;
    text-transform: uppercase;
    @include laptop-l {
      font-size: 4rem;
    }
    @include tablet {
      font-size: 3rem;
    }
  }
  &__img {
    @include laptop-l {
      width: 500px;
    }
    @include tablet {
      width: 400px;
    }
    @include mobile-big {
      width: 300px;
    }
  }
  &__left-area {
    text-align: start;
  }
  &__text {
    color: $color-text2;
    font-family: Formular;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
    margin-top: 50px;
    max-width: 476px;
    @include laptop-l {
      max-width: 500px;
    }
    @include tablet {
      max-width: 400px;
    }
    @include mobile-big {
      max-width: 300px;
    }
  }
  &__text2 {
    color: $color-text2;
    font-family: Formular;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
    &:hover {
      text-decoration: underline;
    }
  }
  &__button-wrapper {
    display: flex;
    margin-right: 65px;
    position: relative;
    width: fit-content;
    margin-top: 65px;
  }
  &__button-ikon2 {
    width: 10px;
    height: 52px;
    transition: all 0.5s ease;
  }
  &__button-ikon3 {
    width: 10px;
    height: 52px;
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  &__button {
    width: 240px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-family: Formular;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1.9px black solid;
    border-right: none;
    transition: all 0.5s ease;
    cursor: pointer;

    background-color: black;
    &:hover {
      background-color: transparent;
      color: black;
      .about-biysk {
        &__button-ikon {
          * {
            stroke: black;
          }
        }
      }
      ~ .about-biysk {
        &__button-ikon2 {
          opacity: 0;
        }
        &__button-ikon3 {
          opacity: 1;
        }
      }
    }
  }

  &__button-ikon {
    width: 20px;
    height: 20px;
    * {
      stroke: white;
      transition: stroke 0.5s ease;
    }
  }
  &__sity {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
  }
  &__MapPoint {
    width: 14px;
    height: 21px;
  }
  &__flex-content {
    max-width: 1311px;
    margin: 95px auto 0 auto;
    display: flex;
    gap: 70px;
    @include laptop-l {
      flex-direction: column;
      align-items: center;
      gap: 0px;
      margin: 20px auto 0 auto;
    }
  }
}
