.footer {
  display: flex;
  justify-content: center;
  &__wrapper {
    width: 100%;
    height: 1150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 140px;
    @include laptop-l {
      height: fit-content;
      width: 90%;
      gap: 60px;
    }
    @include tablet {
      gap: 30px;
    }
  }
  &__feedback {
    max-width: 1311px;
    width: 100%;
    height: 600px;
    margin: 160px auto 0px auto;
    @include laptop-l {
      height: fit-content;
      margin-top: 30px;
    }
  }
  &__feedback-header {
    color: $color-text2;
    font-family: Formular;
    font-size: 6.4rem;
    font-weight: 700;
    text-transform: uppercase;
    @include laptop-l {
      font-size: 4rem;
    }
    @include tablet {
      font-size: 2rem;
    }
  }
  &__feedback-flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: start;
    margin-top: 135px;
    @include laptop-l {
      flex-direction: column;
      justify-content: center;
      margin-top: 0px;
    }
  }
  &__feedback-left {
    margin-top: 120px;
    @include laptop-l {
      margin-top: 29px;
    }
  }
  &__feedback-phone {
    color: $color-text2;
    font-family: Formular;
    font-size: 4.8rem;
    text-decoration: none;
    @include laptop-l {
      font-size: 3rem;
    }
    @include tablet {
      font-size: 1.8rem;
    }
  }
  &__feedback-mail-li {
    margin-top: 40px;
  }
  &__feedback-mail {
    color: $color-text2;
    font-family: Formular;
    text-decoration: none;
    font-size: 3.2rem;
    @include laptop-l {
      font-size: 3rem;
    }
    @include tablet {
      font-size: 1.8rem;
    }
  }
  &__feedback-right {
    min-width: 655px;
    display: flex;
    flex-direction: column;
    @include tablet {
      min-width: auto;
    }
  }
  &__feedback-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
    @include laptop-l {
      margin-top: 30px;
      gap: 20px;
    }
  }
  &__feedback-right-head {
    color: $color-text2;
    font-family: Formular;
    font-size: 4.8rem;
    @include laptop-l {
      font-size: 3rem;
    }
    @include tablet {
      font-size: 1.8rem;
    }
  }
  &__feedback-send-block {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    @include tablet {
      flex-direction: column;
    }
  }
  &__footer-send-text {
    color: $color-text2;
    font-family: Formular;
    font-size: 1.4rem;
    max-width: 449px;
    width: 100%;
    @include tablet {
      //max-width: 200px;
    }
  }
  &__feedback-button {
    width: 175px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-family: Formular;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1.8px black solid;
    border-right: none;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
    background: black
      linear-gradient(to bottom right, transparent 50%, black 50%)
      calc(100% + 3px) 100%/14px 70px no-repeat;

    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 10px) 100%, 0 100%);

    &:hover {
      background-color: transparent;
      color: black;
      .footer {
        &__feedback-button-ikon {
          * {
            stroke: black;
          }
        }
      }
    }
  }

  &__feedback-button-ikon {
    width: 20px;
    height: 20px;
    * {
      stroke: white;
      transition: stroke 0.5s ease;
    }
  }
  &__feedback-input {
    border: none;
    outline: none;
    width: auto;
    height: 40px;
    color: $color-text2;
    font-family: Formular;
    font-size: 3rem;
    @include laptop-l {
      font-size: 2rem;
    }
    @include tablet {
      font-size: 1.8rem;
    }
    &::placeholder {
      color: $color-text2;
      font-family: Formular;
      font-size: 3rem;
      @include laptop-l {
        font-size: 2rem;
      }
      @include tablet {
        font-size: 1.8rem;
      }
    }
  }
  &__footer {
    height: 150px;
    max-width: 1311px;
    width: 100%;
    margin: 0 auto 0 auto;
    @include tablet {
      height: fit-content;
    }
  }
  &__footer-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    @include tablet {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__footer-left {
    display: flex;
    flex-direction: column;
  }
  &__footer-logo-ikon {
    width: 109px;
    height: 29px;
    cursor: pointer;
  }
  &__footer-text-info {
    color: #000;
    font-family: Formular;
    font-size: 1.4rem;
    max-width: 437px;
    text-align: start;
    margin-top: 54px;
    line-height: 18px;
  }
  &__footer-politick {
    color: #000;
    font-family: Formular;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: start;
    margin-top: 20px;
  }
  &__footer-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
      margin-bottom: 20px;
    }
  }
  &__footer-social {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
  }
  &__footer-social-ikon {
    width: 25px;
    height: 25px;
  }
  &__footer-copi {
    color: #000;
    font-family: Formular;
    font-size: 1.4rem;
    text-align: end;
  }
}
